*{
    box-sizing: border-box;
}
@font-face{
    font-family: 'Source Sans Pro';
    src: url(../fonts/SourceSansPro-Regular.otf)
}
@font-face{
    font-family: 'Source Sans Bold';
    src: url(../fonts/SourceSansPro-Bold.otf);
    font-weight: bold;
}
body{
    font-family: 'Source Sans Pro'
}
.cabecalho{
    background-color: #fff;
}
.logo{
    width: 120px;
    height: 53px;
    margin: 0;
    display: block;
    background-image: url('../img/logotipo-preto.png');
    background-repeat: no-repeat;
    text-indent: -99999px;
}
.menu-principal__btn{
    width: 50px;
    height: 50px;
    display: block;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-image: url('../img/menuprincipal-btn-bg.png');
    background-repeat: no-repeat;
    background-position: 5px 8px;
    text-indent: -99999px;
    outline: none;
    cursor: pointer;
}
.menu-principal__btn--fechar{
    background-position: -48px 8px;
}