.logo{
    width: 120px;
    height: 53px;
    margin: 0;
    display: block;
    background-image: url('../img/logotipo-preto.png');
    background-repeat: no-repeat;
    text-indent: -99999px;
}
.logo--branco{
    background-image: url('../img/logotipo-branco.png');
}